<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
    <h1>Welcome {{user.first_name}}</h1>
    {% include "authapp/appuser_list.html" with object_list=users %}
<br>
{% for ip in banned_ip %}
    <a href="{% url 'authapp:unblock' ip.ip_address %}">Unblock {{ip.ip_address}}</a><br><br>
    {% empty %}
        <li>No banned ip.</li>
    {% endfor %}
<br>
{% include "authapp/logout.html" %}

</body>
</html>