{% block content %}
    <h2>Users</h2>
    <ul>
    {% for user in object_list  %}
        <li>
        <strong>First Name:</strong> {{ user.first_name }}<br>
        <strong>last Name:</strong> {{ user.last_name }}<br>
        <strong>Birth date:</strong> {{ user.birth_date|date }}<br>
        <strong>Email:</strong> {{ user.email }}<br>
        <strong>User type:</strong> {{ user.role }}<br>
        <a href="{% url 'authapp:edit_user_profile' user.id %}">Edit Profile!</a><br><br>
        </li>
    {% empty %}
        <li>No registered users yet.</li>
    {% endfor %}
    </ul>
{% endblock %}