<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password!</title>
</head>
<body>
<form action="{% url 'authapp:password_change' user_id%}" method="post">
    <label for="old_password"><b>Old Password</b></label>
    <input type="old_password" placeholder="Enter Old Password" maxlength="20" name="old_password" required>
    <br><br>
    <label for="new_password"><b>New Password</b></label>
    <input type="password" placeholder="Enter New Password" maxlength="20" name="new_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    <br><br>
    <label for="new_password_confirmed"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" maxlength="20" name="new_password_confirmed" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    <br><br>
    <input type="submit" value="Change password!">
</form>
<br>
{% if user_ud %}<p><strong>{{ user_id}}</strong></p>{% endif %}
</body>
</html>
