<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome {{user.username}}!</h1>
<p>Public info:</p>
    First Name : {{user.first_name}} <br>
    Last Name : {{user.last_name}} <br>
    Birth Date: {{user.birth_date}} <br>
    Email Date: {{user.email}} <br>
<a href="{% url 'authapp:edit_user_profile' user.id %}">Edit Profile!</a>
{% include "authapp/logout.html" %}
</body>
</html>