<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
    <!--{% include 'authapp/register.html' %} -->
    <h1>Edit Profile!</h1>
    <form action="{% url 'authapp:update' user.id %}" method="post">
        <label for="firt_name"><b>First name</b></label>
        <input type="text" placeholder="{{user.first_name}}" maxlength="20" name="first_name">
        <br><br>
        <label for="last_name"><b>Last Name</b></label>
        <input type="text" placeholder="{{user.last_name}}" maxlength="20" name="last_name">
        <br><br>
        <label for="birth_date"><b>Birth Date</b></label>
        <input type="date" name="birth_date" placeholder="{{user.birthday}}" >
        <br><br>
        <label for="email"><b>Email</b></label>
        <input type="email" name="email" placeholder="{{user.email}}">
        <br><br>
        <a href="{% url 'authapp:change_password' user.id %}">Change password!</a>
        <br><br>

        <input type="submit" value="Save!">
    </form>
{% include "authapp/logout.html" %}
</body>
</html>