<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <body>
    {% autoescape off %}
    Hi {{ user.username }},
    Please click on the link to confirm to reset your password,
    http://{{ domain }}{% url 'authapp:password_reset' uidb64=uid %}
    {% endautoescape %}
</body>
</html>