<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome!</h1>
    {% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
    <a href="{% url 'authapp:login' %}">Login!</a>
    <br>
    <a href="{% url 'authapp:register' %}">Register!</a>
</body>
</html>