<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
{% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'authapp:login' %}" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" maxlength="20" name="username" required>
    <br><br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" maxlength="20" name="password" required>
    <br><br>
    <input type="submit" value="Log In">
</form>
<br>
<a href="{% url 'authapp:forgot_email' %}">Forgot password!</a>
<a href="{% url 'authapp:recover_password' %}">Recover password!</a>
</body>
</html>