<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password!</title>
</head>
<body>
<form action="{% url 'authapp:password_reset' %}" method="post">
    <label for="new_password"><b>New Password</b></label>
    <input type="password" placeholder="Enter New Password" maxlength="20" name="new_password" required>
    <br>
    <label for="new_password_confirmed"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" maxlength="20" name="new_password_confirmed" required>
    <input type="submit" value="Change password!">
</form>
<br>
{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
</body>
</html>
