<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    {% autoescape off %}
    Hi {{ user.username }},
    Old password: {{user.password}}
    {% endautoescape %}
</body>
</html>