<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
{% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
<div>
    <form action="{% url 'authapp:register' %}" method="post">
        <label for="firt_name"><b>First name</b></label>
        <input type="text" placeholder="Enter first name" maxlength="20" name="first_name" required>
        <br><br>
        <label for="last_name"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" maxlength="20" name="last_name" required>
        <br><br>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" maxlength="20" name="username" required>
        <br><br>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" maxlength="20" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
        <br><br>
        <label for="birth_date"><b>Birth Date</b></label>
        <input type="date" name="birth_date" required>
        <br><br>
        <label for="email"><b>Email</b></label>
        <input type="email" name="email">
        <br><br>
        <input type="submit" value="Register">
    </form>
</div>

</body>
</html>