<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password!</title>
</head>
<body>
<P>
    Please write your email!
</P>
<form action="{% url 'authapp:send_email' %}" method="post">
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter email" maxlength="40" name="email" required>
    <input type="submit" value="Send email!">
</form>
<br>
{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
</body>
</html>
